/static/greece-latest-free/
./.git/objects/pack/pack-90354bfcef69b09f364afc4f53a75dc3c294de36.pack
./venv/lib/python3.11/site-packages/xgboost/lib/libxgboost.so
./data/static/exports/parquet/xe.parquet
./.git/objects/pack/pack-90354bfcef69b09f364afc4f53a75dc3c294de36.pack
./.git/objects/pack/pack-1ccdd2c5dcc9b3b06f8c6a4b4a4baf1b85a57e02.pack
./venv/lib/python3.11/site-packages/xgboost/lib/libxgboost.so
./data/static/exports/parquet/xe.parque
__pycache__/
data/static/exports/pdf/
logs/
*.log./.git/objects/pack/pack-8572efb957a53796293a104f20df4cf5d200cb52.pack
./data/static/exports/ml/models/results/checkpoint-27/optimizer.pt
./data/static/exports/ml/models/results/checkpoint-27/model.safetensors
./data/static/exports/ml/models/results/model.safetensors
data/static/exports/ml/models/results/model.safetensors
data/static/exports/ml/models/results/checkpoint-27/model.safetensors
data/static/exports/ml/models/results/checkpoint-27/optimizer.pt
venv/
./venv/
./venv./models/llm/model.safetensors
./logs/debug.log
./fine_tune_prepared_data.pkl
./.git/objects/pack/pack-f6f8df74b0962cb46310de3b3df7d0a5395c7685.pack
fine_tune_prepared_data.pkl./models/llm/model.safetensors
./logs/debug.log
/data/static/exports/pickle/stock_prices/stock_price_predictor.pkl
/data/static/exports/parquet/auctions_uni.parquet
/data/static/exports/parquet/ml_stock_prices/scraped_data/news